nav {
    max-height: 80px;
}

.navTools {
    visibility: hidden;
}

body {
    background: url(../images/jake-bradley-LnBisJEyVFE-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
}

section {
    opacity: 0.8;
}

.point {
    cursor: pointer;
    text-decoration: overline;
}

a:active {
    color: orange !important;
    font-weight: bolder;
}

.centerDiv {
    margin: auto;
    margin: 20px 170px;
    /* text-align: center; */
    background-color: beige;
    list-style-type: none;
    opacity: 0.85;
    border-radius: 40px;
}

.noSite {
    text-decoration: none;
    color: black;
}

#searchForm {
    margin-top: 20px;
}

h4 {
    color: transparent;
}

#options {
    text-align: center;
}

.noDisplay {
    display: none;
}